@media (max-width:400px) {

    .calculator {
        width: 300px;
        height: 350px;
        margin-right: 10px;
    }

    .name {
        margin-bottom: 30px;
        margin-right: 10px;
    }

    #display:enabled {
        width: 303px;
        margin-right: 10px;
    }


}

@media (min-width:401px) {

    .calculator {

        margin-right: 15px;
    }

    .name {
        margin-bottom: 55px;
        margin-right: 15px;
    }



    #display:enabled {
        width: 353px;
        height: 60px;
        margin-right: 15px;
    }
}